.header__offer{
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        height: 100%;
        width: 427px;

        &__subtitle{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 224px;
        }
        
        &__text{
            color: rgba($color: #19182580, $alpha: .5) ;

            font-family: 'Inter', sans-serif;
            font-size: 18px;

            line-height: 28.8px;
        }

        &__item{
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;

            position: relative;

            &__label{

                position: relative;

                flex: 1 1 auto;

                margin-right: 40px;

                &__images{
                    width: 272px;
                    height: 300px;
                }
                
                &__images--big{
                    height: 400px;
                }

                &__icon{

                    position: absolute;
                    bottom: 5%;
                    left: -10%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 50%;

                    width: 64px;
                    height: 64px;

                    background: #F85E9F;

                    box-shadow: 1px 10px 10px rgba($color: #49494980, $alpha: .2);

                    &__text{
                       margin-left: 10px;
                    }

                }

                &__icon--color-orange{
                    background: #FF5722;

                    bottom: 5%;
                    left: 30%;
                }

                &__icon--rectangle{
                    background: #fff;

                    top: 50%;
                    left: 80%;

                    width: 166px;
                    height: 56px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 100px;
                }
            }
        }

        &__item--big{
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__content--w-auto{

        padding: 70px 0 0 0;

        flex: 1 1 auto;

        background: url('../../../resources/images/layer.svg') no-repeat center center/cover;
        background-size: 100%;
        background-position: top;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
    }
}

.travel-started{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn{
        width: 140px;
        height: 50px;

        background: #5D50C6;

        border-radius: 100px;
        
        font-size: 14px;

        color: #fff;

        margin-right: 20px;

        &__content{

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            &__img{
                margin: 0 5px 2px 0;
            }
        }

        box-shadow: 1px 10px 10px rgba($color: #49494980, $alpha: .2);
    }

    &__btn--bg-transparent{
        background: transparent;

        color: #000;

        margin-right: 0;

        border: 1px solid #EEEEEE
    }
}