.logo{
    display: flex;
    align-items: center;

    &__img{
        margin-right: 22px;

        height: 40px;
        width: 40px;
    }

    &__title{
        font-size: 24px;
        font-weight: 900;
    }
}