<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper wrapper-parallax">
        <div class="parallax">
            <div class="parallax__item" id="parallax-1"  data-show="10"></div>
            <div class="parallax__item" id="parallax-2"  data-show="50"></div>
            <div class="parallax__item" id="parallax-3"  data-show="50"></div>
            <div class="parallax__item" id="parallax-4"  data-show="50"></div>
            <div class="parallax__item" id="parallax-5"  data-show="50"></div>
            <div class="parallax__item" id="parallax-6"  data-show="80"></div>
            <div class="parallax__item" id="parallax-7"  data-show="110"></div>
            <div class="parallax__item" id="parallax-8"  data-show="80"></div>
            <div class="parallax__item" id="parallax-9"  data-show="80"></div>
            <div class="parallax__item" id="parallax-10" data-show="80"></div>
        </div>
        <div class="contaner"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>