<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper wrapper-parallax">
        <div class="parallax">
            <div class="parallax__item" id="parallax-1"  data-show="10"></div>
            <div class="parallax__item" id="parallax-2"  data-show="50"></div>
            <div class="parallax__item" id="parallax-3"  data-show="50"></div>
            <div class="parallax__item" id="parallax-4"  data-show="50"></div>
            <div class="parallax__item" id="parallax-5"  data-show="50"></div>
            <div class="parallax__item" id="parallax-6"  data-show="80"></div>
            <div class="parallax__item" id="parallax-7"  data-show="110"></div>
            <div class="parallax__item" id="parallax-8"  data-show="80"></div>
            <div class="parallax__item" id="parallax-9"  data-show="80"></div>
            <div class="parallax__item" id="parallax-10" data-show="80"></div>
        </div>
           <div class="container login-content">
                <form class="login-form login-form--reg" name="formLogin" action="/registr" method="post">
                    <div class="logo login__logo">
                        <div class="logo__img"><img src="/img/logo.png" alt="Логотип" class="logo__img__icon"></div>
                        <p class="logo__text">Travel</p>
                    </div>
                    <h2 class="login__title {{loginError}}">{{title}}</h2>
                    <div class="login-form__group">
                        <label for="login" class="login-form__label" id="labelLogin">Придумайте логин:</label>
                        <input type="text" id="login" name="login" placeholder="Введите логин" class="login-form__input">
                    </div>
                    <div class="login-form__group">
                        <label for="password" class="login-form__label" id="labelPassword">Придумайте пароль:</label>
                        <input type="text" id="password" name="password" placeholder="Введите пароль" class="login-form__input">
                    </div>
                    <div class="login-form__group">
                        <label for="firstName" class="login-form__label" id="labelLogin">Укажите ваше имя:</label>
                        <input type="text" id="firstName" name="firstName" placeholder="Введите имя" class="login-form__input">
                    </div>
                    <div class="login-form__group">
                        <label for="lastName" class="login-form__label" id="labelLogin">Укажите вашу фамилию:</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Введите фамилию" class="login-form__input">
                    </div>
                    <button type="submit" id="btn-login" name="btnLogin" class="btn-def">Создать</button>
                    <a href="/" class="login__link">Авторизация</a>
                </form>
           </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>