@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@font-face {
    font-family: 'CircularStd-Black';
    src: url('./resources/font/Circular_Std/CircularStd-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('./resources/font/Circular_Std/CircularStd-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    border:0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,main,header,aside{display:block}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
}

input,button,textarea{font-family: inherit;}

input:-ms-clear{display: flex;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: 14px; font-weight: 400;}

.wrapper{
    position: relative;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    background: transparent;
}

.container--mobile{
    width: 90%;
}

.font-circularStd-black{
    font-family: 'CircularStd-Black';
}

.font-circularStd-Bold{
    font-family: 'CircularStd-Bold';
}