.sub-menu{
    flex-direction: column;

    position: absolute;
    top: 20px;
    left: 0;

    padding: 4px;

    background-color: rgba(255, 255, 255, 0.6);

    &__item{
        margin: 10px 0 0 0;
    }
}