.menu{
    &__list{

        display: flex;

        &__item{

            margin-right: 64px;

            list-style: none;

            font-size: 14px;
            font-weight: 700;

            cursor: pointer;

            user-select: none;
        }

        &__item:last-child{
            margin-right: 0;
        }
    }
}